-f https://download.pytorch.org/whl/cu110/torch_stable.html torch==1.7.0+cu110 torchvision==0.8.0
git+https://github.com/openai/whisper.git 
libasound2-dev portaudio19-dev libportaudio2 libportaudiocpp0 ffmpeg
pyaudio
Numpy as np
ffmpeg-python
transformers
detoxify
pandas
